{% extends "master.twig" %}
{% block titulo %}Cambiar contraseña
{% endblock %}
{% block contenido %}
    <main class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Cambiar contraseña</h1>
            </div>
            <div class="col-12 col-sm-3">
                <form action="{{URL_RAIZ}}/perfil/cambiar-password" method="post">
                    {% include "componentes/sesion_flash.twig" %}
                    <div class="form-group">
                        <label for="palabraSecretaActual">Contraseña actual</label>
                        <input autocomplete="off" class="form-control" id="palabraSecretaActual" name="palabraSecretaActual" placeholder="Escribe tu contraseña actual" required type="password">
                    </div>
                    <div class="form-group">
                        <label for="palabraSecreta">Contraseña nueva</label>
                        <input autocomplete="off" class="form-control" id="palabraSecreta" name="palabraSecreta" placeholder="Escribe tu nueva contraseña" required type="password">
                    </div>
                    <div class="form-group">
                        <label for="palabraSecretaConfirm">Confirmar nueva contraseña</label>
                        <input autocomplete="off" class="form-control" id="palabraSecretaConfirm" name="palabraSecretaConfirm" placeholder="Vuele a escribir tu nueva contraseña" required type="password">
                    </div>
                    <button class="btn btn-success" type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
