<h1>Restablecer acceso</h1>
<p>
Hola, alguien ha solicitado un restablecimiento de tu contrase&ntilde;a. 
<br><br>
<strong>Importante: </strong> si no has sido t&uacute;, elimina este correo inmediatamente
<br><br>
En caso de que hayas sido t&uacute;, por favor sigue el siguiente enlace:
<a href="{{enlace}}">{{enlace}}</a>

<br>

O pega lo siguiente en tu navegador:

<pre>{{enlace}}</pre>

<br>

Gracias :) 
</p>