<h1>Verificar</h1>
<p>
Hola, por favor verifica tu correo haciendo click en el siguiente enlace:

<a href="{{enlace}}">{{enlace}}</a>

<br>

O pega lo siguiente en tu navegador

<pre>{{enlace}}</pre>

<br>

Gracias :) 
</p>