<footer class="px-2 py-2 fixed-bottom bg-dark">
    <span class="text-muted">{{NOMBRE_APLICACION}}
        <i class="fa fa-code"></i>
        con
        <i class="fa fa-heart"></i>
        por
        <a class="text-white" href="{{WEB_AUTOR}}">{{AUTOR}}</a>
    </span>
</footer>
