{% set tipo, mensaje, errores_formulario = sesion_flash("tipo"), sesion_flash("mensaje"), sesion_flash("errores_formulario") %}
{% if tipo and mensaje %}
    <div class="mt-3 alert alert-{{ tipo}}">
        {{mensaje}}
    </div>
{% endif %}
{% if errores_formulario %}
    <div class="mt-3 alert alert-danger">
        <strong>Por favor, corrige lo siguiente:</strong>
        <ul>
            {% for error in errores_formulario %}
                {% for suberror in error %}
                    <li>{{suberror}}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
