{% extends "master.twig" %}
{% block titulo %}Reenviar correo de verificación
{% endblock %}
{% block contenido %}
    <main class="container-fluid " role="main">
        <div class="row">
            <div class="col-lg-4 offset-lg-4 col-12">
                <h2 class="text-center">Reenviar correo</h2>
                <p>Utiliza esta opción si no ha llegado el correo de verificación cuando te registraste</p>
                <form method="POST" action="{{URL_RAIZ}}/usuarios/reenviar-correo">
                    {% include "componentes/sesion_flash.twig" %}
                    <div class="form-group">
                        <label for="correo">Correo electrónico</label>
                        <input autocomplete="off" class="form-control" id="correo" name="correo" placeholder="Correo electrónico" required type="email">
                    </div>
                    <button class="btn btn-success" type="submit">Solicitar reenvío</button>
                    <br>
                    <a class="h5 text-muted" href="{{URL_RAIZ}}/login">Iniciar sesión</a>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
